body{background-color:BLACK}
H1{COLOR:WHITE;
font-family:helvetica;
font-style: black;}
h2 {color:WHITE;
font-family:helvetica;
font-style: black;}
h3 {color:WHITE;
font-family:helvetica;
font-style: black;}
p {color:WHITE;
font-family:helvetica;
font-style: black;}
